<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">

    <!-- Chat CSS -->
    <link rel="stylesheet" type="text/css" 
    href="/styles/chat.css" 
    >

    <!-- Socket.io  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    
    <title>Chat Page</title>
  </head>

  <body>

    <div id="message-container"></div>

    <form id="send-container">
      <input type="text" id="message-input">
      <button type="submit" id="send-button">Send</button>
    </form>

    <!-- Jquery -->
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>

    <script src="/scripts/chat.js"></script>
  </body>
</html>