<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/styles/main.css">

    <!-- Google Map -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>
    
    <title>Jamr</title>
</head>
<body>

    <header>

        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand" href="/map">
                Jamr <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
            </a>
            <form class="form-inline">
                <a 
                class="navbar-brand" 
                href="/profiles/_id/settings">
                Settings
                </a>
                <a class="navbar-brand" href="/chat">Lounge</a>
            </form>
        </nav>

    </header>
    <main>
        <div class="profile">
            <h2 class="artistName">User</h2>
            <p>Bio</p>
            <p class="bio"></p>
            <ul class="genre">Genre</ul>
            <ul class="instru">Instruments</ul>
        </div>
        <div class="comments">
        </div>

            <form>
                <div class="form-group">
                  <label for="exampleFormControlFile1">Comments</label>
                  <input class="form-control form-control-lg" type="text" placeholder="Type Something...">
                  <button type="submit" class="btn btn-primary mb-2">Post Comment</button>
                </div>
              </form>
    </main>
     
    <!-- Jquery -->
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

    <!-- PopperJS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="/scripts/profile.js"></script>
</body>
</html>