<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    <!-- Semantic -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <!-- Main CSS -->
    <link rel="stylesheet" href="/styles/settings.css">
    
    <title>Jamr</title>
</head>
<body>

    <header>

        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand">
              Jamr
            </a>
            <form class="form-inline">
                <a class="navbar-brand" href="/map">Home</a>
            </form>
        </nav>

    </header>
    
    <main>
  
        <div class="container mt-5">
            <h1>Update your Profile</h1>

            <form class="update">
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Artist</label>
                  <div class="col-sm-10">
                    <input id ="artistName" class="artistName form-control" id="inputEmail3">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Bio</label>
                  <div class="col-sm-10">
                    <textarea class="bio form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <select class=" instru ui fluid dropdown mt-5" multiple>
                    <option value=""> Change your Instrument</option>
                    <option value="Guitar">Guitar</option>
                    <option value="Piano">Piano</option>
                    <option value="Bass">Bass</option>
                    <option value="Drums">Drums</option>
                    <option value="Samples/DJ">Samples / DJ </option>
                  </select>
                </div>

                <div class="form-group row">
                  <select class="genre ui fluid dropdown mt-5" type="checkbox" multiple>
                    <option value="">Change Your Genre</option>
                    <option value="Rock">Rock</option>
                    <option value="Alternative">Alternative</option>
                    <option value="Folk">Folk</option>
                    <option value="Electronica">Electronica</option>
                    <option value="Jazz">Jazz</option>
                    <option value="Acoustic">Acoustic</option>
                    <option value="Hip-Hop">Hip-Hop</option>
                  </select>
                </div>
                <button class="btn btn-primary mb-5" type="submit">
                    Save Changes
                </button>

                <!-- <select name="skills" multiple="" class="ui fluid dropdown">
                  <option value="">Skills</option>
                  <option value="angular">Angular</option>
                  <option value="css">CSS</option>
                  <option value="ember">Ember</option>
                  <option value="html">HTML</option>
                  <option value="javascript">Javascript</option>
                  <option value="meteor">Meteor</option>
                  <option value="node">NodeJS</option>
                </select> -->
                
              </form>
              <button class="signout btn btn-primary">
                Sign Out
            </button>
              <button class="delete btn btn-danger">
                Delete Account
              </button>
              
            
        </div>

    </main>
     
    <!-- Jquery -->
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

    <!-- PopperJS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!-- Semantic -->
    

    <script src="/scripts/settings.js"></script>
    
</body>
</html>