<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Settings</title>

  
  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">


  <!-- Bootstrap CSS  -->
   <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- custom css -->
  <link rel="stylesheet" href="styles/test.css">

</head>

<body>

  <div class="container">

    <h1>Welcome, </h1>

    <div class="imgCenter mb-5">
      <img src="" alt="profile image" class="img-thumbnail">
    </div>

    
  </div>

  <form>
    <div class="container ctr"> 
        <div class="formBox">
          <p class="mb-5 text-center">Update your profile</p>
          <div class="form-group row">

           
           
            <label for="inputEmail3" class="col-sm-4 col-form-label">
              Username
            </label>
  
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputEmail3" placeholder="username">
            </div>
          </div>
  
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-4 col-form-label">Password</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
          </div>
  
          
          <div class="form-group">
            <label for="inputEmail3">Bio</label>
              <textarea class="bio form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
          </div>

          <div class="form-group row">
            <div class="col-sm-10">
              <div class="saveBtnCenter">
                <button type="submit" class="btn saveBtn text-light">
                  Save
                </button>
              </div>
            </div>
          </div>

        </div>
    </div>
  </form>

    
  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Your Website 2019</small>
    </div>
  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>

  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>