<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Google Font -->
     <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

     <!-- Semantic CDN -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

     <!-- Bootstrap -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 
     <!-- Main CSS -->
     <link rel="stylesheet" href="/styles/main.css">
    <title>Jamr</title>
</head>
<body>
    
    <h1 class="text-center mt-5">
        Create your Profile
    </h1>

    <div class="container mt-5">

        <form class="needs-validation" novalidate>
            <div class="form-row col-3">
              
                <label for="validationCustom01">Artist Name</label>
                <input type="text" class="form-control artistName" id="validationCustom01" value="" required>
                <div class="valid-feedback">
                  Looks good!
                </div>

                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Bio</label>
                  <div class="col-sm-10">
                    <textarea class="bio form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                </div>

                <select class=" instru ui fluid dropdown mt-5" multiple>
                  <option value="">Select Instruments</option>
                  <option value="Guitar">Guitar</option>
                  <option value="Piano">Piano</option>
                  <option value="Bass">Bass</option>
                  <option value="Drums">Drums</option>
                  <option value="Samples/DJ">Samples / DJ </option>
                </select>

                <select class="genre ui fluid dropdown mt-5" multiple>
                  <option value="">Select Your Genres</option>
                  <option value="Rock">Rock</option>
                  <option value="Alternative">Alternative</option>
                  <option value="Folk">Folk</option>
                  <option value="Electronica">Electronica</option>
                  <option value="Jazz"> Jazz </option>
                  <option value="Acoustic"> Acoustic </option>
                  <option value="Hip-Hop"> Hip Hop </option>
                </select>

                <button 
                class="btn btn-primary ml-5 mt-5 mb-5 submitBtn" 
                type="submit">
                  Submit
                </button>
                
            </div>


            
                
        </form> 

    </div>

<!--  Jquery -->
<script 
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
</script>

<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<!-- Semantic UI -->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script src="/scripts/createProfile.js"></script>
    
</html>