<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/radar.css">
    <title>Jamr</title>

        <!-- Google Maps API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>
</head>
<body>
    <header>

        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand">
                Welcome, (username)<img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
            </a>
            <form class="form-inline">
                <a 
                class="navbar-brand" 
                href="/settings">
                Settings
                </a>
                <!-- <a class="navbar-brand" href="/">Sign out</a> -->
            </form>
        </nav>

    </header>

    <div class="radar"></div>

    <div class="map_container">
        <div id="map"></div>
    </div>

    <div class="filters">
        <select class="instru_filter custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option value="" selected>Filter by Instrument...</option>
                    <option value="Guitar">Guitar</option>
                    <option value="Piano">Piano</option>
                    <option value="Bass">Bass</option>
                    <option value="Drums">Drums</option>
                    <option value="Samples/DJ">Samples / DJ </option>
                  </select>

                  <select class="genre_filter custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option value="" selected>Filter by Genre...</option>
                    <option value="Rock">Rock</option>
                    <option value="Alternative">Alternative</option>
                    <option value="Folk">Folk</option>
                    <option value="Electronica">Electronica</option>
                    <option value="Jazz">Jazz</option>
                    <option value="Acoustic">Acoustic</option>
                    <option value="Hip-Hop">Hip-Hop</option>
                  </select>
    </div>

    <div class="container prompt">
        <h1 class="display-4">Find local Musicians</h1>
            <button type="button" class="show">
            Click here to share your location
            </button>
    </div>
    <p id="status" class="mt-5 text-center text-primary lead">

        <!-- Jquery -->
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
      
          <!-- PopperJS -->
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/scripts/radar.js"></script>
    <script src="/scripts/map.js"></script>

</body>
</html>