body {
    /* background: #4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+  */

    font-family: 'Roboto Mono';
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  #message-container {
    width: 80%;
    max-width: 1200px;
  }

  #message-container div {
    background-color: rgb(164, 232, 253);
    padding: 5px;
  }

  #message-container div:nth-child(2n) {
    background-color: #FFF;
  }

  #send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    max-width: 1200px;
    width: 80%;
    display: flex;
  }

  #message-input {
    flex-grow: 1;
  }
